@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Northwind Traders</h1>
  <p>Northwind Traders have been purveyors of fine food products since 1992.</p>
</div>
