@{
  ViewData["Title"] = "Home Page";
}

  <div class="text-center">
    <h1 class="display-4">Mohawk Car Rentals</h1>
    <p>Sering the Mohawk College community since 1966.</p>
    <img  src="~/images/1967_corvette.jpg" />
  </div>